<ion-header>
  <ion-navbar>
    <ion-title>taskdb</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list inset>
    <ion-input placeholder="id" autofocus="" [(ngModel)]="id"></ion-input>
    <ion-input placeholder="What needs to be done?" [(ngModel)]="title" (keyup.enter)="addTask()"></ion-input>
    <ion-item *ngFor="let t of allTask">
      <!--(click)="taskSelected(t)"-->
      <ion-label [ngClass]="{'donestatus': t.Status=='done','pendingstatus':t.Status=='pending'}">{{t.Title}}</ion-label>
      <ion-icon item-right (click)="deleteTask(t)" ios="ios-trash" md="md-trash"></ion-icon>
      <ion-icon item-right (click)="updateTask(t)" ios="ios-color-wand" md="md-color-wand"></ion-icon>
      <!--<ion-icon name="trash" ios="ios-trash" md="md-trash"></ion-icon>-->
    </ion-item>
  </ion-list>
</ion-content>
